* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  font-size: 1.5rem;
  color: var(--color-card-primary-foreground);
}
.logo span {
  padding: 4px;
  border-radius: 6px;
  background-color: var(--color-accent);
  color: var(--color-card-primary-foreground);
}
