.card {
  background: var(--card);
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.courseItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--border);
  perspective: 1000;
  transition: var(--trans);

  &:hover {
    box-shadow: 0 0 20px var(--border);
    transform: transateZ(100px);
  }
}

.courseItem__top {
  display: flex;
  justify-content: space-between;
}

.courseLeft {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.courseInfo h3 {
  font-size: 1rem;
  font-weight: 600;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}
.courseInfo p {
  color: var(--text-muted);
  font-size: 0.85rem;
}

.courseIcon {
  background: var(--primary);
  color: white;
  font-weight: bold;
  width: 2.75rem;
  height: 2.75rem;
  display: grid;
  place-items: center;
  border-radius: 12px;
}

.courseActions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.courseItem__bottom {
  display: flex;
}

.courseStats {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.74rem;
  flex-basis: 85%;
}

.courseStats__top {
  display: flex;
  justify-content: space-between;

  small {
    font-size: 0.9rem;
    color: var(--text-muted);
  }

  .percent {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

.courseSessions {
  flex-basis: 15%;
  align-self: center;

  p {
    font-size: 1rem;
    text-align: end;
  }
}
