.mainContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  padding: 1.5rem;
  background: var(--secondary);
  margin-top: 1.5rem;
}

.card {
  background: var(--card);
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
