.progress {
  background: #e5e7eb;
  height: 8px;
  width: 100%;
  border-radius: 999px;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
}

.progress-fill {
  height: 100%;
  background: var(--primary);
}
